body {
  background: linear-gradient(to right, #FFC0CB 50%, #ffffff 0);
  background-size: 50px 100%;
}

ul.nav{
  margin-top: 10px;
  margin-left: 800px;
  margin-right: 800px;
  padding-left: 0px;
  list-style: none;
  }
ul.nav li {
  margin: 0; /* Отступы вокруг элемента */
  background: #FFFFFF; /* Цвет фона */
  padding: 10px; /* Поля вокруг текста */
 }
.nav li {
  text-align: center;
}
ul.nav a {
    display: inline;
    width: 5em;
    padding:10px;
    text-decoration: none;
    color: black;
    font-family: Corbel Light;
    text-align: center;
 }
ul.nav a:hover{
           background-color: #1ABD94;
           color: black;
       }/*Конец строки с навигацией*/



.rectangle{
  background: rgba(0, 0, 0, 0.8) ; /* Цвет фона */
  width: auto;
  height: 400px;
  margin-top: 100px;
}
.rectangle{
  float: left;
}/*рамка текста заголовка*/

.space {
  margin-left: 870px;/*отступ от левого края*/
  margin-right: 150px;/*отступ от правого края*/
  margin-top: 0px;
  padding: 20px;
  background: rgba(255, 163, 230, 0.7) ; /* Цвет фона */
  border: 2px solid  /* Параметры рамки */
  width: 40px;
      }

.now{
  text-align: center;
  margin-left: 500px;
  margin-top: 200px;
}
h1,h2 {
  text-align: center;
  font-family: Corbel Light;
  }

.one{
  text-align: center;
  font-family: Corbel Light;
}
.two{
  text-align: center;
  font-family: Corbel Light;
}

h3{
  font-size: 48px;
  font-family: "Sail";
  color: rgb( 5, 168, 147 );
  line-height: 1.208;
  text-align: center;
  margin-left: 800px;/*отступ от левого края*/
  margin-right: 400px;/*отступ от правого края*/
  left: 816px;
  top: 1058px;
  width: 291px;
  height: 44px;
}
.flowers{
  float: right;
  margin-left: 1500px;/*отступ от левого края*/
  margin-right: 0px;/*отступ от правого края*/
  margin-top: 0px;
  width: 193px;
  height: 491px;
}

.travka{
  float: left;
  margin-left: 0px;/*отступ от левого края*/
  margin-right: 1500px;/*отступ от правого края*/
  margin-top: 1190px;
  width: 159px;
  height: 463px;
}

.dolor{
  font-size: 18px;
  font-family: "Prata";
  color: rgb( 122, 122, 122 );
  line-height: 1.556;
  text-align: center;
  margin-left: 700px;/*отступ от левого края*/
  margin-right: 400px;/*отступ от правого края*/
  left: 630px;
  top: 1131px;
  width: 400px;
  height: 48px;
}
.name1{
   font-size: 30px;
   font-family: "Sail";
   color: rgb( 5, 168, 147 );
   line-height: 1.333;
   margin-left: 500px;/*отступ от левого края*/
   margin-right: 400px;/*отступ от правого края*/
   top: 1290px;
   width: 202px;
   height: 26px;
 }
 .textname1{
   font-size: 18px;
   font-family: "Prata";
   color: rgb( 102, 102, 102 );
   line-height: 1.556;
   margin-left: 427px;/*отступ от левого края*/
   margin-right: 400px;/*отступ от правого края*/
   margin-top: 100px;
   width: 489px;
   height: 76px;
 }
 .Image_bg {
   background-color: rgb( 112, 112, 112 );
   margin-left: 960px;/*отступ от левого края*/
   margin-right: 500px;/*отступ от правого края*/
   margin-top: -100px;
   width: 585px;
   height: 306px;
 }
.name2{
  font-size: 30px;
  font-family: "Sail";
  color: rgb( 5, 168, 147 );
  line-height: 1.333;
  margin-left: 1010px;
  width: 202px;
  height: 24px;
}
.textname2{
  font-size: 18px;
  font-family: "Prata";
  color: rgb( 102, 102, 102 );
  line-height: 1.556;
  margin-left: 1003px;
  margin-top: 5px;
  width: 489px;
  height: 76px;
}
.Image_bg2 {
  background-color: rgb( 112, 112, 112 );
  margin-left: 375px;
  margin-top: 0px;
  width: 586px;
  height: 308px;
}

h4 {
  font-size: 48px;
  font-family: "Sail";
  color: rgb( 5, 168, 147 );
  line-height: 1.208;
  text-align: center;
  position: absolute;
  left: 650px;
  top: 1870px;
  width: 750px;
  height: 44px;
}
.moments {
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  text-align: center;
  position: absolute;
  left: 694.293px;
  top: 2000px;
  width: 450px;
  height: 48px;
}
.Image_bg3 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 375px;
    top: 2100px;
    width: 850px;
    height: 270px;
  }
.Image_bg4 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 1250px;
    top: 2100px;
    width: 290px;
    height: 270px;
  }
.Image_bg5 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 375px;
    top: 2400px;
    width: 275px;
    height: 570px;
  }
.Image_bg6 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 675px;
    top: 2400px;
    width: 551px;
    height: 270px;
  }
.Image_bg7 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 1252px;
    top: 2400px;
    width: 290px;
    height: 270px;
  }
.Image_bg8 {
    background-color: rgb( 112, 112, 112 );
    position: absolute;
    left: 675px;
    top: 2700px;
    width: 870px;
    height: 270px;
  }

h5 {
 font-size: 48px;
 font-family: "Sail";
 color: rgb( 5, 168, 147 );
 line-height: 1.208;
 text-align: center;
 position: absolute;
 left: 650px;
 top: 3000px;
 width: 750px;
 height: 44px;
}
.story_text {
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  text-align: center;
  position: absolute;
  left: 850px;
  top: 3150px;
  width: 400px;
  height: 48px;
}
.january{
    font-size: 18px;
    font-family: "Prata";
    color: rgb(95, 95, 95);
    line-height: 1.556;
    position: absolute;
    left: 1120px;
    top: 3400px;
}
.first {
  font-size: 30px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 1.333;
  position: absolute;
  left: 1120px;
  top: 3425px;
}
.text_first{
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  position: absolute;
  left: 1120px;
  top: 3500px;
  width: 400px;
  height: 52px;
}
.circle1 {
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    position: absolute;
    left: 374px;
    top: 3350px;
    width: 450px;
    height: 450px;
  }
.read{
  font-size: 20px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 1.5;
  position: absolute;
  left: 1120px;
  top: 3750px;
}

.june{
    font-size: 18px;
    font-family: "Prata";
    color: rgb(95, 95, 95);
    line-height: 1.556;
    position: absolute;
    left: 375px;
    top: 4000px;
}
.second {
  font-size: 30px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 1.333;
  position: absolute;
  left: 375px;
  top: 4025px;
}
.text_second {
  font-size: 18px;
  font-family: "Prata";
  color: rgb( 102, 102, 102 );
  line-height: 1.556;
  position: absolute;
  left: 375px;
  top: 4075px;
  width: 489px;
  height: 76px;
}
.circle2{
  border-radius: 50%;
  background-color: rgb(5, 168, 147);
  position: absolute;
  left: 1120px;
  top: 3934px;
  width: 450px;
  height: 450px;
}
.read2{
  font-size: 20px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 1.5;
  position: absolute;
  left: 375px;
  top: 4280px;
}

.august{
    font-size: 18px;
    font-family: "Prata";
    color: rgb(95, 95, 95);
    line-height: 1.556;
    position: absolute;
    left: 1120px;
    top: 4500px;
}
.three {
  font-size: 30px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 1.333;
  position: absolute;
  left: 1120px;
  top: 4525px;
}
.text_three{
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  position: absolute;
  left: 1120px;
  top: 4600px;
  width: 400px;
  height: 52px;
}
.circle3 {
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    position: absolute;
    left: 374px;
    top: 4475px;
    width: 450px;
    height: 450px;
  }
.read3{
  font-size: 20px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 1.5;
  position: absolute;
  left: 1120px;
  top: 4799px;
}

.march{
    font-size: 18px;
    font-family: "Prata";
    color: rgb(95, 95, 95);
    line-height: 1.556;
    position: absolute;
    left: 375px;
    top: 5000px;
}
.four {
  font-size: 30px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 1.333;
  position: absolute;
  left: 375px;
  top: 5025px;
}
.text_four {
  font-size: 18px;
  font-family: "Prata";
  color: rgb( 102, 102, 102 );
  line-height: 1.556;
  position: absolute;
  left: 375px;
  top: 5075px;
  width: 489px;
  height: 76px;
}
.circle4{
  border-radius: 50%;
  background-color: rgb(5, 168, 147);
  position: absolute;
  left: 1120px;
  top: 5000px;
  width: 450px;
  height: 450px;
}
.read4{
  font-size: 20px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 1.5;
  position: absolute;
  left: 375px;
  top: 5270px;
}

h6{
  font-size: 48px;
  font-family: "Sail";
  color: rgb( 5, 168, 147 );
  line-height: 1.208;
  text-align: center;
  position: absolute;
  left: 600px;
  top: 5500px;
  width: 750px;
  height: 44px;
}
.Our_People {
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  text-align: center;
  position: absolute;
  left: 780px;
  top: 5700px;
  width: 400px;
  height: 48px;
}
.groomsmen{
  font-size: 30px;
  font-family: "Sail";
  color: rgb(93, 93, 93);
  line-height: 0.867;
  position: absolute;
  left: 375px;
  top: 5780px;
}
.bridesmaid {
  font-size: 30px;
  font-family: "Sail";
  color: rgb(93, 93, 93);
  line-height: 0.867;
  position: absolute;
  left: 1339px;
  top: 5780px;
}

.Image_bg9 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 375px;
  top: 5900px;
  width: 270px;
  height: 270px;
}
.Image_bg10 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 695px;
  top: 5900px;
  width: 270px;
  height: 270px;
}
.Image_bg11 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 1015px;
  top: 5900px;
  width: 270px;
  height: 270px;
}
.Image_bg12 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 1335px;
  top: 5900px;
  width: 270px;
  height: 270px;
}
.Image_bg13 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 375px;
  top: 6220px;
  width: 270px;
  height: 270px;
}
.Image_bg14 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 695px;
  top: 6220px;
  width: 270px;
  height: 270px;
}
.Image_bg15 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 1015px;
  top: 6220px;
  width: 270px;
  height: 270px;
}
.Image_bg16 {
  background-color: rgb(112, 112, 112);
  position: absolute;
  left: 1335px;
  top: 6220px;
  width: 270px;
  height: 270px;
}

.end {
  position: absolute;
  top: 6610px;
  left: 0px;
  right: 0px;
  background-color: rgb(255,255,255);
  width: 1900px;
  height: 1560px;
  z-index: -10;
}

h7{
  font-size: 48px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 0.542;
  text-align: center;
  position: absolute;
  left: 680px;
  top: 6650px;
}
.ceremony{
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  text-align: center;
  position: absolute;
  left: 780px;
  top: 6725px;
  width: 400px;
  height: 48px;
}

.bg {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  background-color: rgb(255,255,255);
  position: absolute;
  left: 415px;
  top: 6900px;
  width: 265px;
  height: 190px;
}
.bg{
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 420px;
  top: 6900px;
}
.bg:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}


.bg2 {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  left: 820px;
  top: 6900px;
  width: 265px;
  height: 190px;
}
.bg2{
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 820px;
  top: 6900px;
}
.bg2:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}

.bg3 {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  left: 1220px;
  top: 6900px;
  width: 265px;
  height: 190px;
}
.bg3 {
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 1220px;
  top: 6900px;
}
.bg3:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}
.bg4 {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  left: 420px;
  top: 7180px;
  width: 265px;
  height: 190px;
}
.bg4 {
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 420px;
  top: 7180px;
}
.bg4:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}

.bg5 {
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  left: 820px;
  top: 7180px;
  width: 265px;
  height: 190px;
}
.bg5 {
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 820px;
  top: 7180px;
}
.bg5:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}
.bg6 {
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  left: 1220px;
  top: 7180px;
  width: 260px;
  height: 190px;
}
.bg6 {
  font-size: 22px;
  font-family: "Prata";
  color: rgb(5, 168, 147);
  line-height: 30px;
  position: absolute;
  left: 1220px;
  top: 7180px;
}
.bg6:hover{
  color: rgb(255,255,255);
  background-color: rgb(5, 168, 147);
  transition: 0.3s;
}

.info {
  font-size: 48px;
  font-family: "Sail";
  color: rgb(5, 168, 147);
  line-height: 0.542;
  text-align: center;
  position: absolute;
  left: 925px;
  top: 7500px;
}
.flowerss{
  float: right;
  margin-left: 1500px;/*отступ от левого края*/
  margin-right: 0px;/*отступ от правого края*/
  margin-top: 1060px;
  width: 201px;
  height: 438px;
}
.flowers2{
  float: left;
  margin-left: 555px;
  margin-top: -400px;
  width: 201px;
  height: 438px;
}
.fl{
  background-color: rgb(152, 152, 152);
  float: left;
  margin-left: -800px;
  margin-top: -400px;
  width: 600px;
  height: 438px;
}
.text_info{
  font-size: 18px;
  font-family: "Prata";
  color: rgb(122, 122, 122);
  line-height: 1.556;
  text-align: center;
  position: absolute;
  left: 900px;
  top: 7600px;
  width: 499px;
  height: 48px;
}

.name{
  border: 1px;
  padding: 5px;
  font-size: 30px;
  font-family: "Prata";
  position: absolute;
  left: 774px;
  top: 7700px;
}
.email{
  border: 1px;
  padding: 5px;
  font-size: 30px;
  font-family: "Prata";
  position: absolute;
  left: 774px;
  top: 7750px;
}
.numb {
  border: 1px;
  padding: 5px;
  font-size: 30px;
  font-family: "Prata";
  position: absolute;
  left: 774px;
  top: 7800px;
}
.us{
  border: 1px;
  padding: 5px;
  font-size: 30px;
  font-family: "Prata";
  position: absolute;
  left: 774px;
  top: 7850px;
}
button {
  border-radius: 3px;
  background-color: rgb(5, 168, 147);
  position: absolute;
  left: 1297px;
  top: 7900px;
  width: 220px;
  height: 60px;
}
